@font-face {
    font-family: 'Cinema';
    src: url("fonts/Cinema.ttf");
}

@media (min-width:601px) {
  .news-input{
    width: 50%;
  }
}
.logo{
  max-height: 40px;
}
body::before{
  display: block;
  content: '';
  height: 60px;
}
.lorembtn{
  border-radius: 30px;

}
.imgA {
  position: relative;
  z-index: 1;
  width: 70%;
  left: -25%;

}
#text:hover h6 {
  font-weight: bold;
  /* color: aqua */
}
section{
  min-height: 40vh;
}
#imgA1{
  position:absolute;
  z-index: 0;
  top: 2vw;
  right: 4vw;
}
#imgA1:hover{
  z-index:5;
}
nav{
  z-index:6;
}
#wave{
  position: absolute;
  bottom:0;
  width:100%;
}
.zoom:hover {
  transform: scale(1.1);
}
@media(max-width:600px){
  #wave{
    display:none;
  }
  .imgA{
    /* left: 25%; */
    right: 20%;
    position: relative;
  }
  #imgA1{
    display: none;
  }
}
.contact-us .social-media-icon {
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    /*generated filter from white color with https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(103%) contrast(103%);
    position: relative;
    top: 0;
    /*transition: transform 1s;*/
}

.contact-us .social-media-icon:hover {
    /*generated filter from orange color with https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(79%) sepia(79%) saturate(2027%) hue-rotate(341deg) brightness(106%) contrast(92%);
    top: -.5vw;
    width: 10.5vw;
    height: 10.5vw;
    /*transform: scale(1.1) translateY(-.5vw);*/
    transition: width ease .25s, height ease .25s, top ease .25s;
}

.contact-us .text:hover {
    font-size: 12vw;
    transition: font-size ease .25s;
}

.contact-us .text span {
    color: #FEFEFE;
    font-family: 'Cinema';
    font-size: 10vw;
}

.contact-us .text span:nth-child(3n) {
    color: #F4C026;
}

.contact-us .grid-container {
    display: grid;
    place-items: center;
    background: rgb(49, 49, 49);
    justify-content: space-around;
    align-content: stretch;
}

/* dextop version */
@media only screen and (min-width: 601px) {
    .contact-us .social-media-icon {
        grid-column: 1;
    }

    .contact-us .grid-container {
        clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 90%, 98.5% 90%, 50% 100%, 1.5% 90%, 0% 90%);
        height: 90vw;
        padding: 20%;
    }

    .contact-us .text {
        grid-column: 2;
        grid-row: 1/3;
        text-align: right;
    }
}

/* mobile version */
@media only screen and (max-width: 600px) {
    .contact-us .social-media-icon {
        grid-row: 1;
    }

    .contact-us .grid-container {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        height: 120vw;
        padding: 20%;
    }

    .contact-us .text {
        grid-row: 0;
        grid-column: 1/3;
        text-align: center;
    }
}

.news-container {
    alignment: right;
    background-color: #667FFF;
    border-radius: 4px;
    display: grid;
    place-items: center;
    max-width: 475px;
    width: 80vw;
    max-height: 100px;
    height: 15vw;
    position: absolute;
    top: -40px;
}

.news-title {
    font-family: 'Cinema';
    font-size: larger;
}

.news-form-field {
    text-align: right;
    background-color: #E0E6FF;
    border: none;
    border-radius: 4px;
    max-width: 375px;
    width: 20vw;
    /*max-height: 75px;*/
    /*height: 4vw;*/
    padding: .25vw .5vw;
    color: #7D7D7D;
    font-size: small;
}

.news-form-field::placeholder {
    /*font-family: 'Cinema';*/
    padding: .25vw .5vw;
    font-size: small;
    color: #B4B4B7;
}

.news-btn {
    background-color: #F5C025;
    border: none;
    border-radius: 4px;
    max-width: 250px;
    width: 12.5vw;
    /*max-height: 75px;*/
    /*height: 4vw;*/
    padding: .25vw .5vw;
    cursor: pointer;
    font-family: 'Cinema';
    color: #313131;
    font-size: large;
}

@media only screen and (min-width: 601px) {
    .news-container {
        top: -468px;
    }

    .news-title {
        font-size: xx-large;
        text-align: center;
    }

    .news-form-field {
        padding: .25vw 1.5vw;
        font-size: large;
        max-width: 500px;
        width: 85vw;
    }

    .news-form-field::placeholder {
        visibility: hidden;
        padding: .25vw 1.5vw;
    }

    .news-btn {
        padding: .25vw 1.5vw;
        font-size: x-large;
        max-width: 150px;
        width: 25vw;
    }
}